body {
  margin: 0;
  color: white;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.site-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url("../images/Last.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: #ff4d00d0;
  display: flex;
  justify-content: space-between;
  padding: 5px 40px;
  z-index: 1000;
  box-shadow: 0 5px 5px #000000;
  font-family: 'Inter', sans-serif;
  text-shadow: 2px 1px 3px #000000;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* HERO */

.hero h1 {
  font-size: 50px;
  margin-right: 60px;
  animation: fade 2s;
  font-family: 'Poppins', sans-serif;
}

.bg-section {
  height: 93vh;
  background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.90)),url("../images/hero.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: left;
  align-items: first baseline;
  text-align: center;
  box-shadow: 0 20px 0px #000000;
}

.bg-section h1 {
  color: white;
  font-size: 48px;
}

.bg-section p {
  color: #ddd;
  font-size: 18px;
  margin: 15px 0;
}

.bg-section button {
  padding: 12px 30px;
  border: none;
  background: #ff4d00;
  color: white;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}

.hero-content{
margin-top: 80px;
margin-left: 90px;
 font-family: 'Inter', sans-serif;
}

.bg-section button:hover {
    transform: scale(1.1);
}

/* ABOUT */
.about {
  display: flex;
  gap: 40px;
  padding: 80px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.75),#ff4d00d0);
  font-family: 'Inter', sans-serif;
  text-shadow: 2px 1px 4px #000000;
  box-shadow: 0 10px 10px #ff4d00d0;
  justify-content: center;

}


.about img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 5px 10px #000000;
}


/* SERVICES */
.services {
  text-align: center;
  padding: 60px 20px;
  background: url("./images/Last.png");
   font-family: 'Inter', sans-serif;
}

.service-box {
  width: 300px;
  display: inline-block;
  margin: 40px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px #ff4d00;
  justify-content: center;
  gap: 20px;
  font-family: 'Inter', sans-serif;
}
.service-box:hover {
    transform: scale(1.03);
}
.service-box img {
  width: 250px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 10px 5px 10px #000000;

}


.card {
  background: #ff4d00;
  padding: 20px;
  width: 210px;
  margin-left: 25px;
  transition: 0.5s;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 5px 5px 8px #000000;
}

.card:hover {
  transform: translateY(-10px);
  background: #ffbc02;
  color: #000000;
}

/* PORTFOLIO */
.portfolio {
  padding: 80px;
  text-align: center;
   font-family: 'Inter', sans-serif;
}

.portfolio-box {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.item img {
  width: 250px;
  transition: 0.5s;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 0 20px #ff4d00;
  padding: 10px;
  margin  : 60px;
  align-items: center;
}

.item img:hover {
  transform: scale(1.1);
}

/* FOOTER */
footer {
  background: #000;
  text-align: center;
  padding: 20px;
}

/* ANIMATION */
@keyframes fade {
  from {opacity: 0; transform: translateY(30px);}
  to {opacity: 1; transform: translateY(0);}
}

/* SCROLL ANIMATION */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: 1s;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}